CrazyMelvinsShoppingEmporiumRESTfulService.Tests/Service References/ShoppingEmporiumService/ShoppingEmporium.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoppingEmporium" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3745/ShoppingEmporium.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3745/ShoppingEmporium.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3745/ShoppingEmporium.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrazyMelvinsShoppingEmporiumRESTfulService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShoppingEmporium_GetCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_GetCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IShoppingEmporium_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IShoppingEmporium">
    <wsdl:operation name="GetCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingEmporium/GetCustomerList" message="tns:IShoppingEmporium_GetCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingEmporium/GetCustomerListResponse" message="tns:IShoppingEmporium_GetCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingEmporium/GetCustomer" message="tns:IShoppingEmporium_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingEmporium/GetCustomerResponse" message="tns:IShoppingEmporium_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingEmporium/AddCustomer" message="tns:IShoppingEmporium_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingEmporium/AddCustomerResponse" message="tns:IShoppingEmporium_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingEmporium/UpdateCustomer" message="tns:IShoppingEmporium_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingEmporium/UpdateCustomerResponse" message="tns:IShoppingEmporium_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingEmporium/DeleteCustomer" message="tns:IShoppingEmporium_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingEmporium/DeleteCustomerResponse" message="tns:IShoppingEmporium_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ShoppingEmporium" />
</wsdl:definitions>