CrazyMelvinsShoppingEmporiumRESTfulService.Tests/Service References/ShoppingEmporiumService/ShoppingEmporium2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrazyMelvinsShoppingEmporiumRESTfulService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrazyMelvinsShoppingEmporiumRESTfulService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="custID" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="custID" type="xs:int" />
      <xs:element minOccurs="0" name="orderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderID" type="xs:int" />
      <xs:element minOccurs="0" name="poNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="orderID" type="xs:int" />
      <xs:element minOccurs="0" name="prodID" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="inStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="prodID" type="xs:int" />
      <xs:element minOccurs="0" name="prodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prodWeight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>